<h2>会員情報編集</h2>

<%= form_with model: @customer, url:information_path, method: :patch do |f| %>

氏名 <%= f.text_field :last_name %>
     <%= f.text_field :first_name %>

フリガナ <%= f.text_field :last_name_kana %>
         <%= f.text_field :first_name_kana %>

郵便番号 <%= f.text_field :postal_code %>

住所 <%= f.text_field :address %>

電話番号 <%= f.text_field :telephone_number %>

メールアドレス <%= f.text_field :email %>

<%= f.submit '編集内容を保存' %>

<% end %>

<%= link_to '退会する', customers_unsubscribe_path %>