<h2>マイページ</h2>

<h4>登録情報</h4>
<%= link_to "編集する", customer_edit_path %>

氏名 <%= @customer.last_name + " " +@customer.first_name %>

カナ <%= @customer.last_name_kana + " " + @customer.first_name_kana %>

郵便番号 <%= @customer.postal_code %>

住所 <%= @customer.address %>

電話番号 <%= @customer.telephone_number %>

メールアドレス <%= @customer.email %>

<h4>注文履歴</h4>
<%= link_to "一覧を見る", orders_path %>