<h2>商品編集</h2>


<%= form_with model: @item, url:admin_item_path(@item.id), method: :patch do |f| %>

　<h4>商品画像</h4>
 <%= f.file_field :image %>

  <h4>商品名</h4>
  <%= f.text_field :name %>

 <h4>商品説明</h4>
 <%= f.text_area :introduction %>

 <!--<h4>ジャンル</h4>-->
 <!--</%= f.select :gener_id %>-->

 <h4>税抜価格</h4>
 <%= f.text_field :price %> 円

 <h4>販売ステータス</h4>
 <%= f.radio_button :is_active, true %>販売中
 <%= f.radio_button :is_active, false %>販売停止中

 <%= f.submit '変更を保存する' %>
<% end %>