<h2><%= @customer.last_name %> <%= @customer.first_name %>会員詳細</h2>

<h4>会員ID</h4>
<p><%= @customer.id %></p>

<h4>氏名</h4>
<p><%= @customer.last_name %></p>
<p><%= @customer.first_name %></p>

<h4>フリガナ</h4>
<p><%= @customer.last_name_kana %></p>
<p><%= @customer.first_name_kana %></p>


<h4>郵便番号</h4>
<p><%= @customer.postal_code %></p>

<h4>住所</h4>
<p><%= @customer.address %></p>

<h4>電話番号</h4>
<p><%= @customer.telephone_number %></p>

<h4>メールアドレス</h4>
<p><%= @customer.email %></p>

<h4>会員ステータス</h4>
<p><%= @customer.is_deleted %></p>



<%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
<%= link_to "注文履歴一覧を見る", admin_root_path %>