<h4>注文確認確認</h4>
<div class="col">
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.get_image %></td>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.subtotal %></td>
      </tr>
      <% @total +=  cart_item.subtotal %>
    <% end %>
  </tbody>
  </table>
    <div>送料<%= @order.postage %></div>
    <div>商品合計<%= @total %></div>
    <div>請求金額<%= @order.billing_amount %></div>

  <h4>支払方法</h4>
  <%= @order.payment_method %>

  <h4>お届け先</h4>
  〒<%= @order.shipping_postal_code %><%= @order.shipping_addrress %><%= @order.shipping_name %>

  <%= link_to "確定する", orders_complete_path %>

 </div>