<h2>注文情報入力</h2>

<%= form_with model: @order, url:confirm_path do |f|%>

<h4>支払方法</h4>
<%= f.radio_button :payment_method, 0 %>クレジットカード
 <%= f.radio_button :payment_method, 1 %>銀行振込

 <h2>お届け先</h2>
 <div><%= f.radio_button :address, 0 %>ご自身の住所
      <%= current_customer.address %>
 </div>

 <div><%= f.radio_button :address, 1 %>登録済み住所
      <%= f.collection_select(:address_id, @addresses, :id, :shipping_addrress, prompt: "選択してください") %>
 </div>

 <div><%= f.radio_button :address, 2 %>新しいお届け先
      郵便番号(ハイフンなし)<%= f.text_field :shipping_postal_code %>
      住所<%= f.text_field :shipping_addrress %>
      宛名<%= f.text_field :shipping_name %>
 </div>

 <%= f.submit "確認画面へ進む" %>

 <% end %>