<h4>注文履歴詳細</h4>

<h7>注文情報</h7>

  <h7>注文日</h7>
  <p><%= @order.created_at %></p>

  <h7>配送先</h7>
  <p><%= @order.shipping_addrress %></p>

  <h7>支払方法</h7>
  <p><%= @order.payment_method_i18n %></p>

  <h7>ステータス</h7>
  <p><%= Order.order_statuses_i18n[@order.order_status] %></p>

<h7>請求情報</h7>

  <h7>商品合計</h7>
  <p><%= @total %></p>

  <h7>配送料</h7>
  <p><%= @order.postage %></p>

  <h7>ご請求額</h7>
  <p><%= @order.billing_amount %></p>

<h7>注文内容</h7>

  <table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>