<div class = "container">
<h2>商品一覧</h2>(全<%= Item.all.count %> 件)

<div class="row">
    <% @items.each do |item| %>
    <div class="col-lg-3">
        <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(100,100) %>
            <% end %>
        <br>
        <%= link_to item_path(item.id) do %>
        <%= item.name %>
        <% end %>
        <br>
        ¥<%= item.price %>
    </div>
    <% end %>

</div>
<%= paginate @items %>
</div>