<%= form_with model: @cart_item, url:cart_items_path do |f|%>
<p><%= image_tag @item.get_image %></p>

<h4>商品名</h4>
<p><%= @item.name %></p>

<h4>商品説明</h4>
<p><%= @item.introduction %></p>

<h4>価格(税込)</h4>
<p>¥<%= @item.with_tax_price %></p>

<h4>個数選択</h4>
<p><%= f.select :amount, *[1..9] %></p>

<%= f.hidden_field :item_id  , :value => @item.id%>



<%= f.submit "カートに入れる" %>

<% end %>
