<div class = "container">

<%= form_with model: @cart_item, url:cart_items_path do |f|%>
<div class="row">
<div class="col-lg-5">
  <%= image_tag @item.get_image(300,300),size: "300x300" %>
</div>

<div class="col-lg-5">
<h4><%= @item.name %></h4>

<h4><%= @item.introduction %></h4>

<h4>¥<%= @item.with_tax_price %></h4>

<h4><%= f.select :amount, *[1..9] %></h4>

<%= f.hidden_field :item_id  , :value => @item.id%>



<%= f.submit "カートに入れる" %>
</div>
</div>
<% end %>
</div>
