<p><%= @item.image %></p>

<h4>商品名</h4>
<p><%= @item.name %></p>

<h4>商品説明</h4>
<p><%= @item.introduction %></p>

<h4>価格(税込)</h4>
<p><%= @item.price %></p>

<h4>個数選択</h4>
<p><%= f.select :amount, *[1..9] %></p>



<%= link_to "カートに入れる", item_path(@item.id) %>
